/* Container geral do modal */
.container {
    padding: 10px;
  }
  
  /* Header com título centralizado e botão de fechar alinhado à direita */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  /* Título centralizado */
  h4.mat-dialog-title {
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 1;
    margin: 0;
  }
  
  /* Botão de fechar alinhado à direita */
  .close-button {
    margin-left: auto;
    color: #333;
  }
  
  /* Conteúdo do diálogo, centralizado */
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  /* Footer com botões alinhados: "Cancelar" à esquerda e "Ativar Bomba" à direita */
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  /* Estilo para os botões */
  .footer button {
    padding: 0.5rem 1rem;
  }
  
  .activate-button {
    background-color: #007bff;
    color: white;
  }
  
  .activate-button:hover {
    background-color: #0056b3;
  }
  