<div class="container mat-elevation-z8">
  <div>
    <div class="header">
      <h5>{{ data.title }}</h5>
      <button mat-icon-button class="close-button" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <p class="center description">Umidade: {{ data.percentage }}% - Valor Real: {{ data.value }}</p>
  </div>
  
  <div mat-dialog-content class="content">
    <div class="content-graph">
      <div style="display: block;">
        <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [legend]="true"
          [type]="'line'">
        </canvas>
      </div>
      
    </div>
    <div class="set-days">
      <button mat-raised-button (click)="setDays(1)" class="mat-elevation-z4">Dia Atual</button>
      <button mat-raised-button (click)="setDays(3)" class="mat-elevation-z4">Últimos 2 Dias</button>
      <button mat-raised-button (click)="setDays(3)" class="mat-elevation-z4">Últimos 3 Dias</button>
      <button mat-raised-button (click)="setDays(4)" class="mat-elevation-z4">Últimos 4 Dias</button>
    </div>
  </div>

  <div mat-dialog-actions class="footer">
    <button mat-raised-button color="primary" class="activate-button mat-elevation-z8" (click)="onActivatePumping()">
      Ativar Bomba
    </button>
  </div>
</div>
