ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 330px;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  .card-container {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards */
    gap: 8px; /* Espaçamento entre os cards */
  }
  
  .card-wrapper {
    flex: 0 1 200px; /* Os cards terão largura fixa de 200px, mas poderão encolher se necessário */
  }

  :host ::ng-deep .custom-dialog {
    z-index: 999; /* Menor que o alert */
  }